.idea/*
out/*
build/*
wz/*
nbproject./*
nbproject/*
META-INF/*
scripts/.vscode/*
dist/*
build.xml
manifest.mf
Log_Script_Except.rtf
.vscode/*
*.iml
*.rtf
*.properties
src/database/DatabaseConnection.java
worldGMS.properties
worldGMS.properties
*.java
worldGMS.properties
src/database/DatabaseConnection.java
scripts/map/onUserEnter/cannon_tuto_direction2.js
scripts/map/onUserEnter/cannon_tuto_direction1.js
scripts/map/onUserEnter/cannon_tuto_direction.js
scripts/map/onUserEnter/cannon_tuto_01.js
db.properties
channel.properties
